.character-page {
  max-width: 463px;
  display: block;
  margin: 0 auto;
  padding-bottom: 25%;

  &__add-more {
    margin: 16px auto;
    display: block;
  }
}

header {
  padding: 16px;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  margin: 32px 0;
  color: #000000a6;
}

app-spinner {
  display: flex;
  justify-content: center;
}
