<div class="character-page">
  <header>
    <h1 animFadeIn>Star Wars Wiki</h1>
    <p *ngIf="countAll !== undefined" animFadeIn>Hay {{countAll}} personajes</p>
  </header>
  <app-characters-list [characters]="characters" (onCharacterSelect)="onCharacterSelect($event)" (onScrollEnding)="loadMore()"></app-characters-list>
  <button class="character-page__add-more" animFadeIn *ngIf="!loadingService.isLoading && !isAllLoaded" (click)="loadMore()">Cargar más</button>
  <app-spinner></app-spinner>
  <footer *ngIf="isAllLoaded" animDelayFadeIn>Prueba técnica hecha con ❤ para Wabi</footer>
</div>