.character-detail-page {
  padding: 32px;
  max-width: 1200px;

  &__films {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 24px 0;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: flex-start;
  }

  &__info-data {
    padding: 16px;
    background: #f4f4f4;
    border-radius: 12px;
  }

  &__films-box {
    padding: 0 16px;
  }
}

.film {
  display: flex;
  gap: 8px;

  &__thumbnail {
    width: 128px;
    height: 170px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__description {
    font-size: 0.9rem;
    padding-right: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 15px 0;
    display: block;
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td,
table th {
  border: 0px solid #f4f4f4;
  padding: 6px 7px;
}
table tr {
  border-top: 1px solid #dbdbdb;
  height: 32px;
}
table tr:first-child {
  border-top: 0px solid #dbdbdb;
}
table tfoot td {
  font-size: 14px;
}
table tfoot .links {
  text-align: right;
}
table tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

.note {
  font-size: 0.9rem;
  font-weight: 600;
}
