.character-detail-page {
  padding: 32px;
  max-width: 1200px;

  &__films {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 480px;
    padding: 24px 0;
  }
}

.film {
  display: flex;
  gap: 8px;

  &__thumbnail {
    width: 110px;
    height: 80px;
    object-fit: cover;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
